
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Food List</h2>
  </div>
  <button style="margin-bottom: 1rem;" (click)="gotoCreate()" class="btn btn-secondary">Add Food</button>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sort('id')" >Id <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('name')">Name <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('price')">Price <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('cookTime')">Cook-Time <i class="bi bi-sort-down"></i></th>
          <th>Description</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of listOfFoodsToDisplay">
          <td>{{ food.id }}</td>
          <td>{{ food.name }}</td>
          <td>{{ food.price |currency }}</td>
          <td>{{ food.cookTime }} min ⏲</td>
          <td class="description">{{ food.description }}</td>
          <td><img [src]="food.imageUrl" alt="" width=100 height=100></td>
          <td class="action-btn">
            <button (click)="onDelete(food.id)" class="btn btn-danger">
              Delete
            </button>
            <button
              (click)="editFood(food.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Update
            </button>
            <button
              (click)="foodDetails(food.id)"
              class="btn btn-info"
              style="margin-left: 10px"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
