.imagediv{
  display: block;
  max-width: 400px;
  /* limit the width to the container's width */
  height: 400px;
  /* adjust the height according to the width */
  margin: 0 auto;
  /* center the image */

}
.imagediv img{
  vertical-align: middle;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}
.modal-title{
  font-weight:900;
  display: block;
  width: 100%;
  text-align: center;
}
