ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
ul li a{
  height: 40rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: red;

}
a img{
  max-height: 300px;
  object-fit: cover;
}

li a:hover{
  opacity: 0.9;
  cursor:pointer
}
.content{
  padding: .5rem 1rem;
  position: relative;
}
.favorite{
  /* text-align: right; */
  /* position: absolute;
  top:.5rem;
  right: 1rem;
  font-size: 1.2rem; */
}

.favorite.not{
  color: red;
}

.star{
  margin-bottom:.2rem ;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  color: gray;
  font-size: .7rem;
  margin-right: .3rem;
  display: inline-block;
}
.cook-time{
  font-size: .8rem;
  flex: 3;
  text-align: right;
}

.price{
  color: grey;
  margin-top: .2rem;
}